.answer {
    background-color: #FFA07A;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
}

.question {
    background-color: #ADD8E6;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
}
