.root {
    -fx-background-repeat: repeat;
}

.scroll-pane {
    opacity: 0.1;
}

.text {
    -fx-font-size: 20px;
}

.button {
    -fx-background-color: lightcyan;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 8, 0, 0, 0);
}

.button:hover {
    -fx-background-color: lightblue;
}

#deckListView .list-cell {
    -fx-background-color: transparent;
}

#deckListView {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
}

#cardListView .list-cell {
    -fx-background-color: transparent;
}

#cardListView {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
}
