
.root {
    -fx-background-image: url("images/main_bckg.jpg");
    -fx-background-repeat: repeat;
}

.scroll-pane {
    opacity: 0.1;
}

.text {
    -fx-font-family: "Caviar Dreams";
    -fx-font-size: 20px;
}
.button {
    -fx-font-family: "Shackie Handpainted PERSONAL";
    -fx-font-size: 1.5em;
    -fx-background-color: lightcyan;
    -fx-background-radius: 12px;

    -fx-border-radius: 12px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.HBox {
    -fx-border-color: red;
}

.knowledgeLvlSliderTitle {
    -fx-font-family: "Shackie Handpainted PERSONAL";
}

#deckListView .list-cell {
    -fx-background-color: transparent;
}

#deckListView {
    -fx-background-color: transparent;
    -fx-border-color: black;
}

#cardListView .list-cell {
    -fx-background-color: transparent;
}

#cardListView {
    -fx-background-color: transparent;
    -fx-border-color: black;
}

