<!DOCTYPE html>
<!-- KaTeX requires the use of the HTML5 doctype. Without it, KaTeX may not render properly -->
<html>
    <head>
        <link rel="stylesheet" href="katex/katex.min.css">
        <link rel="stylesheet" href="cardStyles.css">

        <!-- The loading of KaTeX is deferred to speed up page rendering -->
        <script defer src="katex/katex.min.js"></script>

        <!-- To automatically render math in text elements, include the auto-render extension: -->
        <script defer src="katex/contrib/auto-render.min.js"></script>
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function() {
                let searchparams = new URL(document.location).searchParams;
                if (searchparams.get('q') == null || searchparams.get('a') == null) {
                  document.getElementById('q').innerHTML = "<h1>Card is empty</h1>"
                  document.getElementById('a').innerHTML = "<h1>Card is empty</h1>"
                  return;
                }
                let question_text = atob(searchparams.get('q').replace('_', '/').replace('-', '+'));
                let answer_text = atob(searchparams.get('a').replace('_', '/').replace('-', '+'));

                document.getElementById('question_text').innerText = question_text;
                document.getElementById('answer_text').innerText = answer_text;
                renderMathInElement(document.body);
            });
        </script>
    </head>
  <body>
    <h1>Question :</h1>
    <div id="question_text" class="question"></div>
    <h1>Answer : </h1>
    <div id="answer_text" class="answer"></div>
  </body>
</html>