<!DOCTYPE html>
<!-- KaTeX requires the use of the HTML5 doctype. Without it, KaTeX may not render properly -->
<html lang="en">
<head>
    <title></title>
    <link rel="stylesheet" href="katex/katex.min.css">
    <link rel="stylesheet" href="cardStyles.css">
    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="katex/katex.min.js"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="katex/contrib/auto-render.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            let searchParameters = new URL(document.location).searchParams;
            if (searchParameters.get('text') == null) {
                document.getElementById('card_text').innerHTML = "<h3>Please select a deck</h3>"
                return;
            }
            //since atob need url safe base64, we replace the forbidden characters
            document.getElementById('card_text').innerText = atob(searchParameters.get('text').replace('_', '/').replace('-', '+'));
            if (searchParameters.get('type') === 'question') {
                document.getElementById('card_text').classList.add('question');
            } else if (searchParameters.get('type') === 'answer') {
                document.getElementById('card_text').classList.add('answer');
            }

            renderMathInElement(document.body);
        });

    </script>
</head>
<body>
<div id="card_text" class="card_container"></div>
</body>
</html>
