.root {
    -fx-background-color: linear-gradient(to top, #1b2838, #2a475e);
}

.title {
    -fx-fill: #c7d5e0;
    -fx-font-size: 75;
}

.button {
    -fx-background-color: transparent;
    -fx-background-radius: 8px;
    -fx-text-fill: #c7d5e0;
    -fx-font-size: 20px;
}

.button:hover {
    -fx-background-color: #66c0f4;
    -fx-text-fill: #1b2838;
}

.statCircle {
    -fx-stroke: #c7d5e0;
    -fx-fill: transparent;
    -fx-stroke-width: 2px;
}

.statText {
    -fx-fill: #c7d5e0;
    -fx-font-size: 20px;
    -fx-translate-y: -10px;
    -fx-text-alignment: center;
}
