<!DOCTYPE html>
<!-- KaTeX requires the use of the HTML5 doctype. Without it, KaTeX may not render properly -->
<html lang="en">
    <head>
        <title>preview</title>
        <link rel="stylesheet" href="katex/katex.min.css">

        <!-- The loading of KaTeX is deferred to speed up page rendering -->
        <script defer src="katex/katex.min.js"></script>

        <!-- To automatically render math in text elements, include the auto-render extension: -->
        <script defer src="katex/contrib/auto-render.min.js"></script>
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function() {
                let searchparams = new URL(document.location).searchParams;
                let question_text = atob(searchparams.get('q'));
                let answer_text = atob(searchparams.get('a'));
                document.getElementById('question').innerText = question_text;
                document.getElementById('answer').innerText = answer_text;
                renderMathInElement(document.body);
            });
        </script>
        <style>
            #question {
                margin: 0.5cm;
                background-color: aqua;
            }
            #answer {
                margin: 0.5cm;
                background-color: coral;
            }
        </style>
    </head>
  <body>
    <h2>Question:</h2>
    <div id="question"></div>
    <h2>Answer: </h2>
    <div id="answer"></div>
  </body>
</html>