.root {
    -fx-background-image: url("images/main_bckg.jpg");
}

.button {
    -fx-font-family: "Shackie Handpainted PERSONAL";
    -fx-font-size: 1.5em;
    -fx-background-color: lightcyan;
    -fx-background-radius: 12px;

    -fx-border-radius: 12px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.button:hover {
    -fx-background-color: lightblue;
}
